@use 'variables' as var;

.container {
  background-color: var.$color-blue-gray-50;
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  // fonts
  .font-large {
    font-size: var.$large;
    font-weight: bold;
  }
  .font-medium {
    font-size: var.$medium;
    font-weight: bold;
  }
  .font-xs {
    font-size: var.$small;
    font-weight: normal;
    color: var.$color-blue-gray-500;
  }
  // left side(application details)
  .left {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;

    // logo
    .logo {
      background-color: green;
      width: 5rem;
      height: 5rem;
      border-radius: 100vw;
      cursor: pointer;
    }

    // details
    .details {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .wrap {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  // right side(application status and action button)
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    gap: 1rem;

    // widthdraw button
    .btn-withdraw {
      background-color: var.$color-blue-500;
      width: fit-content;
      border: none;
      color: white;
      padding: 8px 10px;
      border-radius: 0.5rem;
    }
    // reapply button
    .btn-reapply {
      background-color: transparent;
      width: fit-content;
      border: 1px solid var.$color-blue-500;
      color: var.$color-blue-500;
      padding: 8px 10px;
      border-radius: 0.3rem;
    }
  }
}
