<div class="container">
  <!-- header -->
  <div class="header">
    <div class="left">
      <div class="comp-logoName">
        <div class="logo"></div>
        <p class="font-large">Google</p>
      </div>
    </div>
    <div class="right">
      <app-tag [status]="'Available'"></app-tag>
    </div>
  </div>

  <!-- programme title -->
  <div class="details">
    <p class="prog-Title">Software Engineering Internship</p>
    <div class="iconText-wrap">
      <i class="pi pi-building"></i>
      <p class="font-xs">Google</p>
    </div>
  </div>

  <!-- what to know -->
  <div class="prog-overview">
    <!-- overview -->
    <div class="wrap">
      <p class="font-medium">What to know?</p>
      <div class="overview-wrap">
        <div class="iconText-wrap">
          <i class="pi pi-user"></i>
          <p class="font-xs">Profile must be complete.</p>
        </div>
        <div class="iconText-wrap">
          <i class="pi pi-file"></i>
          <p class="font-xs">Your CV is attached from your profile.</p>
        </div>
        <div class="iconText-wrap">
          <img src="assets/svgs/badge.svg" alt="badge" />
          <p class="font-xs">Required badges must be earned first.</p>
        </div>
        <div class="iconText-wrap">
          <i class="pi pi-briefcase"></i>
          <p class="font-xs">Work experience is included from your profile.</p>
        </div>
      </div>
    </div>

    <!-- form  -->
    <form [formGroup]="applyForm">
      <!-- interest in the programme -->
      <div class="wrap">
        <p class="font-medium no-bold">Why are you interested in this programme?</p>
        <textarea rows="5" cols="30" pInputTextarea formControlName="interest"></textarea>
      </div>
      <!-- prefered start date -->
      <div class="wrap">
        <p class="font-medium no-bold">What is your preferred start date?</p>
        <div class="icon-left">
          <i class="pi pi-calendar"></i>
          <p-calendar dateFormat="dd MM,yy" formControlName="startDate" placeholder="dd/mm/yy"></p-calendar>
        </div>
      </div>

      <!-- agreement check boxes -->
      <div class="checkboxes-wrap">
        <div class="space">
          <p-checkbox formControlName="confirmation" value="New York" inputId="confirm" />
          <label class="font-xs" for="confirm">I confirm that my profile information is up to date.</label>
        </div>
        <div class="space">
          <p-checkbox formControlName="agree" value="New York" inputId="agree" />
          <label class="font-xs" for="agree">I agree to the terms and conditions of this programme.</label>
        </div>
      </div>
      <!-- apply now -->
      <div class="btn-wrap">
        <button (click)="close()" class="apply-btn cancel">Cancel</button>
        <button class="apply-btn">Send application</button>
      </div>
    </form>
  </div>
</div>
