<div class="container">
  <div class="header">
    <p class="header-title">Manage career programmes</p>
    <p class="header-subtitle">Below are programmes you have created</p>
  </div>

  <!-- table here -->

  <div class="table">
    <!-- search -->
    <div class="search-wrap">
      <div class="search-container">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            #searchInput
            pInputText
            [style]="{ width: '30rem' }"
            [(ngModel)]="searchString"
            type="text"
            placeholder="Search programm by title"
          />
        </p-iconField>
      </div>
      <!-- status -->
      <div class="card flex justify-content-center status">
        <p-splitButton label="Status" [model]="status" severity="secondary" />
      </div>

      <!-- date filter -->
      <div [style]="{ marginLeft: '1rem' }" class="flex align-items-center">
        <p-calendar
          [style]="{ width: '7rem' }"
          placeholder="Date"
          [(ngModel)]="dateFilter"
          [showButtonBar]="true"
          (onSelect)="onSearchOrDateFilter()"
          (onClearClick)="onSearchOrDateFilter()"
        ></p-calendar>
      </div>
    </div>
    <!--  -->

    <!-- tabMenu -->
    <p-tabMenu [model]="tabMenuList" [activeItem]="activeItem">
      <ng-template pTemplate="item" let-tabMenu>
        <a
          style="gap: 1rem"
          (click)="setActiveTab(tabMenu.label)"
          pRipple
          class="flex align-items-center gap-2 p-menuitem-link"
        >
          <span class="font-bold">
            {{ tabMenu.label }}
          </span>
          <p-badge [value]="totalProgrammes(tabMenu.label)" severity="info" />
        </a>
      </ng-template>
    </p-tabMenu>
    <!--  -->

    <!-- career programs display-->
    @if(allProgrammes){
    <div class="programmes-wrap">
      @for(programee of all; track $index){
      <app-programme-card [programme]="programee.name"></app-programme-card>
      }
    </div>
    }
    <!-- saved programs display -->
    @if(savedProgrammes){
    <div class="programmes-wrap">
      @for(programee of saved; track $index){
      <app-programme-card [programme]="programee.name"></app-programme-card>
      }
    </div>
    }

    <!-- date filter and search programs display -->
    @if(filteringProgrammes){
    <div class="programmes-wrap">
      @for(programee of filteredDateSearchData; track $index){
      <app-programme-card [programme]="programee.name"></app-programme-card>
      }
    </div>
    }
    <!-- viewing a programme -->
    @if(viewProgrammeDetails){
    <div class="viewPrograme">
      <app-viewed-programme (onApplyNow)="openForm()"></app-viewed-programme>
    </div>
    }
  </div>
</div>

<!-- application dialogue -->

<div *ngIf="formModal" class="modal">
  <div class="form applyprograme">
    <app-programme-apply-form></app-programme-apply-form>
  </div>
</div>
