<main class="create-password" [formGroup]="createPasswordForm" (submit)="onSubmit()">
    <form>
      <div class="form-header">
        <div class="logo">
          <img src="assets/svgs/blue-skillspace-logo.svg" alt="logo" />
        </div>
  
        <div class="header-content">
          <h1>Create new password</h1>
          <p>Enter your new  password to get started</p>
        </div>
      </div>
  
      <div class="form-content">
        <!-- Create password input fields -->
  
        <!-- Custom password input field with icon -->
        <div class="input-group password-input" style="position: relative">
          <label for="password">Password</label>
          <div style="position: relative; display: flex; align-items: center">
            <i
              class="pi pi-lock"
              style="position: absolute; left: 1rem; z-index: 1; color: #999"
            ></i>
  
            <p-password
              inputId="password"
              [toggleMask]="true"
              placeholder="Enter your password"
              [feedback]="false"
              [style]="{ width: '100%' }"
              formControlName="password"
              [class]="{
                'ng-dirty':
                  createPasswordForm.get('password')?.invalid &&
                  createPasswordForm.get('password')?.touched
              }"
            >
            </p-password>
          </div>
          <!-- Error message -->
         
          @if(getErrorMessage('password')) {
          <small class="text-warning">{{ getErrorMessage("password") | capitalize }}</small>
          }
        </div>
        <!--  -->


        <!-- Custom password input field with icon -->
        <div class="input-group password-input" style="position: relative">
          <label for="password">Confirm password</label>
          <div style="position: relative; display: flex; align-items: center">
            <i
              class="pi pi-lock"
              style="position: absolute; left: 1rem; z-index: 1; color: #999"
            ></i>
  
            <p-password
              inputId="confirmPassword"
              [toggleMask]="true"
              placeholder="Confirm your password"
              [feedback]="false"
              [style]="{ width: '100%' }"
              formControlName="confirmPassword"
              [class]="{
                'ng-dirty':
                  createPasswordForm.get('confirmPassword')?.invalid &&
                  createPasswordForm.get('confirmPassword')?.touched
              }"
            >
            </p-password>
          </div>
          <!-- Error message -->
         
          @if(getErrorMessage('confirmPassword')) {
          <small class="text-warning">{{ getErrorMessage("confirmPassword") | capitalize }}</small>
          }
        </div>
        <!--  -->
  
       
  
        <!-- Login button -->
        <div class="login-btn">
          <button
            pButton
            pRipple
            [loading]="createPasswordLoading"
            class="p-button-primary full-width-button"
          >
            <span class="full-width-button-label">Continue</span>
          </button>
        </div>
        <!--  -->
  
      </div>
    </form>
  </main>
  