
<!-- header -->
<header>
    <!-- active page -->
    <section class="active-page-name">
        <h1>Page name</h1>
    </section>

    <!-- navigation container -->
    <section class="user-actions-container">
        <div class="notification">
            <img src="../../../../assets/svgs/notification-alert.svg" alt="notification svg icon">
        </div>
        <div class="user-avatar">
            <!-- <img src=".." alt=""> -->
        </div>
        <div class="dropdown-btn">
            <img src="../../../../assets/svgs/arrow-drop-down.svg" alt="dropdown svg icon">
        </div>
    </section>
</header>

<!-- vertical nav bar -->
<nav>
    <section class="logo_nav-elements">
        <div class="logo">
            <img src="../../../../assets/svgs/logo.svg" alt="SkillSpace svg icon logo">
            <span>SkillSpace</span>
        </div>

        <!-- nav elements -->

    </section>

    <section class="operations">
        <div class="settings">
            <!-- svg -->
            <p>Settings</p>
        </div>
        <div class="logout">
            <!-- svg icon -->
            <p>logout</p>
        </div>
    </section>
   
</nav>

<main>
    <!-- <router-outlet /> -->
</main>
