@use '../../../scss/mixins.scss' as mix;
@use '../../../scss/variables.scss' as var;
@use '../../../scss/functions.scss' as func;


header {
    @include mix.flex();
    @include mix.flex-position(space-between, center);
    width: 100%;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    box-shadow: 0 0.063rem 0.125rem #0001;
    padding-inline: 1rem;

    h1 {
        font-size: var.$small;
        font-weight: 400;
        color: var.$color-blue-gray-800;
    }

    .user-actions-container {
        @include mix.flex();
        @include mix.flex-position(center, center);

        .notification {
            width: 1.5rem;
            height: 1.5rem;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .user-avatar {
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.sidebar {
    @include mix.flex(column, 1.5rem);
    @include mix.flex-position(space-between, stretch);
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding-block: 1rem;
    background-color: var.$color-blue-gray-700;
    color: var.$color-white;

    .logo_nav-elements {
        .logo {
            @include mix.flex(row, 0);
            @include mix.flex-position(center, center);
            width: 100%;
            height: fit-content;
            margin-bottom: .8rem;
        }
        span {
            font-size: var.$large;
            font-weight: 600;
            color: var.$color-white;
        }

    }

    .operations, .sidebar-tabs {
        @include mix.flex(column);
        button { 
            box-shadow: none;
            border : none;
        }
        .tab {
            @include mix.flex();
            @include mix.flex-position(flex-start, center);
            padding-inline: 1rem;
            padding-block: 0.7rem;
            cursor: pointer;
            background-color: transparent;
            color: white;
        }
       
        .tab:hover {
            background-color: var.$color-white;
            color: var.$color-blue-gray-800;
            transition: all 300ms ease-in-out;
            
            svg path {
                fill: var.$color-blue-gray-800;
                transition: all 300ms ease-in-out;

            }
        }
        .active { 
            background-color: var.$color-white;
            color: var.$color-blue-gray-800;
            svg path {
                fill: var.$color-blue-gray-800;
            }
        }
        
    }
}

main {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: var.$color-blue-gray-50;
    padding: 1rem;
    overflow-y: hidden;
}

/* Logout confirmation dialog */
.dialog-container {
    @include mix.flex(column);
    background: var.$color-white;
    padding: 2rem;
    width: 40rem;

    .header .description {
        color: var.$color-blue-gray-800;

    }
    
    .header {
        font-size: var.$xlarge;
        font-weight: 600;
        line-height: 2rem;
    }
    
    .description {
        font-size: var.$medium;
        font-weight: 400;
        line-height: 1.5rem;

    }

    .dialog-btns {
        @include mix.flex(row);
        @include mix.flex-position(flex-end, center);
        width: 100%;
    }
}



