@use 'mixins' as mix;
@use 'variables' as var;

header {
    @include mix.flex(column, 0.375rem);
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;

    h1 {
        font-size: var.$large;
        color: var.$color-blue-gray-800;
    }
    p {
        font-size: var.$small;
        color: var.$color-blue-gray-500;
    }
}