<div class="container">
  <div class="header">
    <p class="header-title">Assessments</p>
    <p class="header-subtitle">Take and retake quizzes to meet company's request.</p>
  </div>

  <!-- table starts -->
  <div class="table">
    <!-- search -->
    <div class="search-wrap">
      <div class="search-container">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            [disabled]="assessmentTakingService.takeQuizVisible()"
            [style]="{ width: '30rem' }"
            type="text"
            (input)="dt1.filterGlobal($any($event).target.value, 'contains')"
            placeholder="Search assessment by name"
          />
        </p-iconField>
      </div>

      @if (!availableQuizzes) {
        <!-- filter by company  -->
        <p-dropdown
          class="status-filter-dropdown"
          [options]="companies"
          optionLabel="name"
          optionValue="code"
          [(ngModel)]="selectedCompany"
          placeholder="Company"
          [checkmark]="true"
          [showClear]="true"
          (onChange)="dt1.filter(selectedCompany, 'companyName', 'equals')"
          [style]="{ marginLeft: '1rem', minWidth: '7rem' }"
        />
        <!-- filter by company ends  -->

        <!-- filter by badge  -->
        <p-dropdown
          class="status-filter-dropdown"
          [options]="badges"
          optionLabel="name"
          optionValue="code"
          [(ngModel)]="selectedBadge"
          placeholder="Badge"
          [checkmark]="true"
          [showClear]="true"
          (onChange)="dt1.filter(selectedBadge, 'badgeName', 'equals')"
          [style]="{ marginLeft: '1rem', minWidth: '7rem' }"
        />
        <!-- filter by badge ends  -->
      }
    </div>
    <!--  -->

    <!-- tabMenu -->
    <p-tabMenu [model]="tabMenuList" [activeItem]="activeItem">
      <ng-template pTemplate="item" let-tabMenu>
        <button
          style="gap: 1rem"
          (click)="setActiveTab(tabMenu.label)"
          (keypress)="setActiveTab(tabMenu.label)"
          [disabled]="assessmentTakingService.takeQuizVisible()"
          pRipple
          class="flex align-items-center gap-2 p-menuitem-link"
        >
          <span class="font-bold">
            {{ tabMenu.label }}
          </span>
          <p-badge [value]="tabMenu.data().length" severity="info" />
        </button>
      </ng-template>
    </p-tabMenu>
    <!--  -->

    <!-- Skills Quiz Table Content-->

    <div class="tablescontainer">
      <!-- take quiz  -->
      @if (assessmentTakingService.takeQuizVisible() && selectedQuizId) {
        <div class="create-quiz-modal">
          <app-take-quiz [quizId]="selectedQuizId" />
        </div>
      }
      <!-- take quiz ends -->

      <!-- <div class="create-quiz-modal">
          @if (assessmentCreationService.createQuizVisible()) {
            <app-create-quiz />
          }
  
          @if (assessmentCreationService.updateQuizVisible()) {
           
            @if (selectedQuiz) {
              <app-update-quiz [quizId]="selectedQuiz.id" />
            }
          }
        </div> -->

      <p-table #dt1 [value]="getActiveTabData()" [globalFilterFields]="['quizName', 'companyName', 'badgeName']">
        <!-- table header -->

        <ng-template pTemplate="header">
          <!-- All Assessments -->
          @if (allAssessments || completedQuizzes) {
            <tr>
              <th>Name</th>
              <th>Company</th>
              <th>Scores</th>
              <th>Status</th>
              <th>Badges earned</th>
              <th>Date taken</th>
              <th>Retake option</th>
              <th></th>
            </tr>
          }
        </ng-template>

        <!-- table body -->
        <ng-template pTemplate="body" let-data>
          <!-- All Assessments -->
          @if (allAssessments) {
            <tr class="stylerowsbackground">
              <td>{{ data.quizName }}</td>
              <td>{{ data.companyName }}</td>
              <td>{{ data.score }}</td>
              <td>
                <!-- status  -->
                <app-tag [status]="data.status" />
              </td>
              <td>{{ data.badgeName }}</td>
              <td>{{ data.lastModified | date: 'MMMM dd, yyyy'  }}</td>
              <td>{{ data.nextRetry | date: 'MMMM dd, yyyy'  }}</td>

              <td class="action">
                <p-button
                  (click)="openTieredMenu($event, data)"
                  icon="pi pi-ellipsis-v"
                  [text]="true"
                  severity="secondary"
                />
              </td>
            </tr>
          }

          <!-- Available Quizzes -->
          @if (availableQuizzes) {
            <tr>
              <td style="height: 10rem" class="special">
                <div class="wrapper">
                  <div class="info">
                    <p class="infohead">{{ data.quizName }}</p>
                    <p class="infodate">
                      Published: {{ data.publishedDate | date: 'MMMM dd, yyyy'  }} | Required pass mark: {{ data.requiredPassMark }} marks |
                      Total marks:
                      {{ data.totalMark }}
                    </p>
                    <p class="infodate">Quiz created by: {{ data.createdBy }}</p>
                  </div>
                  <div class="tools">
                    <!-- start quiz button  -->
                    <p-button (click)="showTakeQuiz(data.quizId)" label="Start quiz" severity="primary" />
                  </div>
                </div>
              </td>
            </tr>
          }

          <!-- Completed Quizzes -->
          @if (completedQuizzes) {
            <tr class="stylerowsbackground">
              <td>{{ data.quizName }}</td>
              <td>{{ data.companyName }}</td>
              <td>{{ data.score }}</td>
              <td>
                <!-- status  -->
                <app-tag [status]="data.status" />
              </td>
              <td>{{ data.badgeName }}</td>
              <td>{{ data.lastModified | date: 'MMMM dd, yyyy'  }}</td>
              <td>{{ data.nextRetry | date: 'MMMM dd, yyyy'  }}</td>

              <td class="action">
                <p-button
                  (click)="openTieredMenu($event, data)"
                  icon="pi pi-ellipsis-v"
                  [text]="true"
                  severity="secondary"
                />
              </td>
            </tr>
          }
        </ng-template>

        <!--  -->
        <ng-template pTemplate="empty">
          <tr>
            <td colspan="2" class="text-center">No match found</td>
          </tr>
        </ng-template>
      </p-table>
      <!--  -->

      <!-- Loading spinner  -->
      @if (getActiveTabLoadingState()) {
        <div class="custom-loader">
          <div class="loader">
            <p-progressSpinner
              aria-label="Loading"
              styleClass="loader-lg"
              strokeWidth="4"
              animationDuration=".5s"
              [title]="'Loading contents...'"
            />
          </div>
        </div>
      }
    </div>
  </div>
  <!-- table ends -->
</div>

<!-- tiered Menu -->
<p-tieredMenu #tieredMenu [model]="tieredMenuItems" [popup]="true" />
