@use '../../../scss/mixins' as mix;
@use '../../../scss/variables' as var;
@use '../../../scss/functions' as func;


.fields {
    label {
        @include mix.label();
    }
    .input-container {
        @include mix.flex();
        width: 100%;
        height: fit-content;
        position: relative;

        img {
            width: 1.25rem;
            aspect-ratio: 1;
            position: absolute;
            top: 50%;
            left: 0.625rem;
            transform: translateY(-50%);
        }
        .password-icon {
            right: 0.625rem;
            left: auto;
        }
    }
    input {
        width: 100%;
        height: 100%;
        height: 3rem;
        border-radius: 0.25rem;
        padding: 0.75rem;
        padding-left: 2.5rem;
        border: 0.063rem solid var.$color-blue-gray-300;
        outline: none;
        font-size: var.$medium;

        &::placeholder {
            color: var.$color-blue-gray-500;
            font-size: var.$medium;
        }

        &:focus, &:active {
            border: 0.063rem solid var.$color-blue-500;
        }
    }
    @include mix.flex(column, 0.5rem);
}

.upload-container {
    position: relative;
    border-radius: 0.25rem;
    border: 0.063rem solid var.$color-blue-gray-300;
    outline: none;
    input {
        opacity: 0;
        z-index: 10;
    }
    span {
        width: fit-content;
    }
    .custom-placeholder {
        position: absolute;
        inset: 0;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        color: var.$color-blue-gray-500;
        font-size: var.$medium;
    }
    .choose-file {
        border-bottom: 0.063rem solid #0F4B5F;
        color: #0F4B5F;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

}