<div class="container">
  <!-- head -->
  <div class="head">
    <div class="left">
      <span class="logo"></span>
      <p class="font-head">Google</p>
    </div>
    <div class="right">
      <app-tag [status]="'open'"></app-tag>
      <img
        class="moreIcon"
        (click)="op.toggle($event)"
        src="assets/svgs/more.svg"
        alt="more"
      />
      <p-overlayPanel #op>
        <div class="float">
          <p class="floattext">View program</p>
          <p class="floattext">Save for later</p>
        </div>
      </p-overlayPanel>
    </div>
  </div>

  <!-- details -->
  <p>Posted: <span class="font-xs">2 days ago</span></p>
  <div class="details">
    <div class="wrap">
      <p class="font-head programme-title">{{ programme }}</p>
      <div class="date-wrap">
        <img src="../../../../assets/svgs/date.svg" alt="date" />
        <p class="font-sm">Sep 16 - Sep 24,2024</p>
      </div>
      <div class="badge-wrap">
        <button class="badge font-sm">Google/JavaScript</button>
        <button class="badge font-sm">Google/React</button>
      </div>
    </div>
  </div>

  <!-- Apply button -->
  <div class="apply">
    <button class="apply-btn">Apply now</button>
  </div>
</div>
