@use './functions' as func;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

// colors
$color-blue-500: #3B82F6;

$color-blue-gray-50: #F8FAFB; 
$color-blue-gray-300: #CBD5E1; 
$color-blue-gray-400: #94A3B8; 
$color-blue-gray-500: #64748B; 
$color-blue-gray-700: #334155; 
$color-blue-gray-800: #1E293B; 

$color-red-50: #FEF2F2;
$color-red-600: #DC2626;

$color-green-50: #F0FDF4;
$color-green-600: #16A34A;

$color-yellow-900: #713F12;
$color-yellow-600:  #EAB308;
$color-yellow-50: #FEFCE8;



$color-dark: #111928;
$color-white: #FFF;

// fonts
$font-family: "Inter", sans-serif;


// font-sizes
$xxlarge: 2.25rem;
$xlarge: 1.5rem;
$large: 1.25rem;
$medium: 1rem;
$small: 0.875rem;
$xsmall: 0.75rem;