@use "../../../../scss/_mixins" as *;
@use "../../../../scss/_variables" as *;
@use "../../../../scss/_functions" as *;

.login {
  form {
    .form-header {
      .logo {
        margin-bottom: 2rem;
        margin-inline: auto;
      }
      @include flex(column, 1rem);
      margin-bottom: 2rem;

      .header-content {
        text-align: center;
        h1 {
          color: $color-blue-gray-800;
        }
        p {
          color: $color-blue-gray-500;
        }
      }
    }

    .form-content {
      @include flex(column, 1rem);

      .flex-between {
        @include flex(row, 0);
        justify-content: space-between;

        .stay-logged-in {
          @include flex(row, 0.5rem);
          cursor: pointer;
          align-items: center;
        }

        a {
          color: $color-blue-500;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// custom password input with icon
p-password {
  width: 100%;
}

::ng-deep .p-password {
  .p-password-input {
    width: 100%;
    padding-left: 2.6rem;
  }
  .p-inputtext {
    width: 100%;
  }
  .p-password-toggle {
    position: absolute;
    left: 10px;
  }
}

::ng-deep .p-inputtext {
  width: 100%;
}

.full-width-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-button {
  margin-right: 0.5rem;

  .full-width-button-label {
    margin-left: 0.5rem;
  }
}
