<div class="quiz-taking-container bg-white">
  @if (quiz$ | async; as quiz) {
    <div>
      <div class="quiz-header">
        <h2>{{ quiz.name }}</h2>
        <p>Duration: {{ quiz.duration }} minutes</p>
      </div>

      <div class="quiz-content">
        <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
          <div *ngFor="let question of quiz.questions" class="quiz-question">
            <h3>Question {{question.id}}</h3>
            <h4>{{ question.description }}</h4>

            <div class="options">
              @for (option of question.options; track $index) {
                <div class="option">
                  <p-radioButton
                    [inputId]="'q' + question.id + 'o' + option.id"
                    [name]="'question_' + question.id"
                    [value]="option.id"
                    [formControlName]="'question_' + question.id"
                  >
                  </p-radioButton>
                  <label [for]="'q' + question.id + 'o' + option.id">
                    {{ option.text }}
                  </label>
                </div>
              }
             
            </div>
          </div>

          <div class="submit-section">
            <p-button label="Submit Quiz" type="submit" [disabled]="!isQuizFullyAnswered()"></p-button>
          </div>
        </form>

        
      </div>
    </div>
  } @else {
    <p>Loading quiz...</p>
  }
</div>