<app-page-header-description
  [title]="'Manage profile'"
  [description]="'Easily manage your profile to stay up to date'"
/>

<section class="container">
  <p-tabView class="tab-view-container" [(activeIndex)]="activeTabIndex" (onChange)="onTabChange($event)">
    <!-- company details -->
    <p-tabPanel class="content-container" header="Company details">
      <!-- content goes here -->
      <form [formGroup]="companyDetailsForm">
        <!-- company name -->
        <div class="card flex flex-wrap justify-content-center gap-3">
          <label for="username">Company Name</label>
          <p class="description">{{ description }}</p>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-user" />
            <input type="text" pInputText placeholder="Enter company name " formControlName="companyName" />
          </p-iconField>
        </div>

        <!-- email -->
        <div class="card flex flex-wrap justify-content-center gap-3">
          <label for="username">Email</label>
          <p class="description">{{ description }}</p>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-envelope" />
            <input
              class="email"
              formControlName="email"
              type="text"
              pInputText
              placeholder="amalitech.ghana@gmail.com"
              formControlName="email"
            />
          </p-iconField>
        </div>

        <!-- phone number -->
        <div class="card flex flex-wrap justify-content-center gap-3">
          <label for="username">Phone number</label>
          <p class="description">{{ description }}</p>
          <ngx-material-intl-tel-input
            [fieldControl]="contactControl"
            [iconMakeCall]="false"
            [enablePlaceholder]="true"
            [autoSelectedCountry]="selectedCountry"
            placeholder="Enter your telephone number"
            [required]="true"
            [autoIpLookup]="false"
          ></ngx-material-intl-tel-input>
        </div>

        <!-- website -->
        <div class="card flex flex-wrap justify-content-center gap-3">
          <label for="username">Website Links</label>
          <p class="description">{{ description }}</p>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-link" />
            <input type="text" pInputText placeholder="www.Seanlifer.com" formControlName="website" />
          </p-iconField>
        </div>

        <!-- upload -->
        <app-drag-n-drop-file-input
          [label]="'Upload Logo'"
          [accept]="'image/png'"
          [previewUpload]="logo"
          (uploadedFile)="onUpload($event, 'logo')"
        />
      </form>
    </p-tabPanel>

    <!-- documents -->
    <p-tabPanel header="Documents">
      <!-- file upload content goes here -->
      <form [formGroup]="documentForm">
        <app-drag-n-drop-file-input
          [label]="'Certificate'"
          [accept]="'.pdf'"
          [previewUpload]="certificate"
          (uploadedFile)="onUpload($event, 'certificate')"
        />
      </form>
    </p-tabPanel>

    <!-- security -->
    <p-tabPanel header="Security">
      <!-- content goes here -->
      <header>
        <p class="title">Change Password</p>
        <p class="password-description">Update password details for security reasons</p>
      </header>

      <form [formGroup]="securityForm">
        <!-- old password -->
        <app-input-field
          [label]="'Old Password'"
          [type]="'password'"
          [svgIcon]="'lock'"
          [placeholder]="'Old password'"
          [isDisabled]="true"
        />

        <!-- new password -->
        <app-input-field
          [label]="'New Password'"
          [type]="'password'"
          [svgIcon]="'lock'"
          [placeholder]="'New password'"
          formControlName="newPassword"
          [hasError]="
            securityForm.get('newPassword')?.touched &&
            (securityForm.get('newPassword')?.errors?.['required'] || securityForm.get('newPassword')?.errors)
          "
        />
        @if (hasError(securityForm, 'newPassword')) {
          <app-form-error-message [message]="hasError(securityForm, 'newPassword')" />
        }

        <!-- confirm password -->
        <app-input-field
          [label]="'Confirm Password'"
          [type]="'password'"
          [svgIcon]="'lock'"
          [placeholder]="'Confirm password'"
          formControlName="confirmPassword"
          [hasError]="
            securityForm.get('confirmPassword')?.touched &&
            (securityForm.get('confirmPassword')?.errors?.['required'] || securityForm.errors?.['passwordMismatch'])
          "
        />
        @if (hasFormError(securityForm, 'confirmPassword', 'passwordMismatch')) {
          <app-form-error-message [message]="hasFormError(securityForm, 'confirmPassword', 'passwordMismatch')" />
        }
      </form>
    </p-tabPanel>
  </p-tabView>
  <button class="save-changes-btn" type="submit" (click)="onSaveChanges()">Save changes</button>
</section>
