<div class="main-container">
    <h1 class="header-title">Applicant's profile</h1>

    <!-- company details or information -->
    <section class="company-details">

        <!-- details -->
        <div class="details">
            <div class="logo">
                <img src="assets/images/Avatar.png" alt="company logo">
            </div>
            <div class="information">
                <div class="personal-info data">
                    <p class="title">Personal Information:</p>
                    <p>{{ applicant?.name }}</p>
                    <p>{{ applicant?.contact }}</p>
                    <p>{{ applicant?.email }}</p>
                </div>
                <div class="social-media-info data">
                    <p class="title">Social media links:</p>
                    <div class="links">
                        <i class="pi pi-linkedin"
                            pTooltip="Confirm to proceed" 
                            tooltipPosition="bottom"
                            tooltipEvent="hover"
                        ></i> 

                        <i class="pi pi-twitter"
                            pTooltip="Confirm to proceed" 
                            tooltipPosition="bottom"
                            tooltipEvent="hover"
                        ></i>

                        <i class="pi pi-globe"
                            pTooltip="Confirm to proceed" 
                            tooltipPosition="bottom"
                            tooltipEvent="hover"
                        ></i>
                    </div>
                </div>

            </div>
        </div>

        <!-- status -->
        <p-tag [value]="'pending'" 
        [rounded]="true" 
        />
        <!-- <p>
            pending
        </p> -->

    </section>

    <!-- certificate -->
    <section class="display-certificate">
        <!-- buttons -->
        <!-- <div class="btns">
            @if (applicant) {
                <p-button (onClick)="reject(applicant.id)" label="Reject applicant" [outlined]="true" />
                <p-button (onClick)="confirm(applicant.id)" label="Accept applicant" />
            }
        </div> -->

        <div class="card">
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel header="Documents">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <span class="font-bold white-space-nowrap m-0">
                                Documents
                            </span>
                            <p-badge value="1" />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" >
                        <section class="body-container">
                            <!-- curriculum vitae -->
                            <section class="document-container">
                                <div class="name_user-details">
                                    <p class="file-type-name">Curriculum vitae</p>
                                    <div class="file-name">
                                        <i class="pi pi-file-pdf" style="color: red"></i>
                                        <p class="name">Kelvin_Asamoah CV_2023 PDF</p>
                                    </div>
                                </div>
                                <button class="download-btns">
                                    Download CV
                                </button>
                            </section>
                            <!-- academic transcript -->
                            <section class="document-container">
                                <div class="name_user-details">
                                    <div class="file-type-name">Academic transcript</div>
                                    <div class="file-name">
                                        <i class="pi pi-file-pdf" style="color: red"></i>
                                        <p class="name">Kelvin_Asamoah transcript_2023 PDF</p>
                                    </div>
                                </div>
                                <button class="download-btns">
                                    Download transcript
                                </button>
                            </section>

                        </section>
                        
                    </ng-template>
                </p-tabPanel>

                <!-- PORTFOLIO -->
                <p-tabPanel header="Portfolio">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <span class="font-bold white-space-nowrap m-0">
                                Portfolio
                            </span>
                            <p-badge value="1" />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <section class="body-container">
                            <!-- curriculum vitae -->
                            <section class="document-container">
                                <div class="name_user-details">
                                    <p class="file-type-name">Curriculum vitae</p>
                                    <div class="file-name">
                                        <i class="pi pi-link" ></i>
                                        <p class="name">https://pinterest.com/mylink</p>
                                    </div>
                                </div>
                                <button class="download-btns">
                                    See portfolio
                                </button>
                            </section>
                            <!-- academic transcript -->
                            <section class="document-container">
                                <div class="name_user-details">
                                    <div class="file-type-name">Academic transcript</div>
                                    <div class="file-name">
                                        <i class="pi pi-link" ></i>
                                        <p class="name">https://pinterest.com/mylink</p>
                                    </div>
                                </div>
                                <button class="download-btns">
                                    See portfolio
                                </button>
                            </section>

                        </section>
                    </ng-template>
                </p-tabPanel>

                <!-- PROJECTS -->
                <p-tabPanel header="Projects">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <span class="font-bold white-space-nowrap m-0">
                                Projects
                            </span>
                            <p-badge value="2" />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <section class="document-container">
                            <div class="name_user-details">
                                <div class="file-type-name">Academic transcript</div>
                                <div class="file-name">
                                    <i class="pi pi-trophy" ></i>
                                    <span class="badges">
                                        Amalitech/Python
                                    </span>
                                    <span class="badges">
                                        Amalitech/ Java
                                    </span>
                                    <span class="badges">
                                        Google/ JavaScript
                                    </span>
                                    <span class="badges">
                                        Google/ Django
                                    </span>
                                </div>
                            </div>
                        </section>
                        
                    </ng-template>
                </p-tabPanel>

                <p-tabPanel header="Feedbacks">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <span class="font-bold white-space-nowrap m-0">
                                Feedbacks
                            </span>
                            <p-badge value="2" />
                        </div>
                    </ng-template>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos...
                    </p>
                </p-tabPanel>
            </p-tabView>
        </div>

    </section>

</div>


    