<!-- back markup -->
<!-- @if (step === 2) {
    <div class="back" (click)="onBack()">Back</div>
} -->

<div class="logo">
  <img
    src="assets/svgs/blue-skillspace-logo.svg"
    alt="SkillSpace svg icon logo"
  />
</div>

@if (!isAwaitingReview) {
<header>
  <h1>Find talent for roles</h1>
  <p class="description">Provide your details to get started.</p>
  <nav>
    <div
      class="step1 steppers"
      (click)="onContinue(1)"
      [ngClass]="{ active: step === 1 }"
    >
      <span>1</span>
      <p>Credentials</p>
    </div>
    <div
      class="step2 steppers"
      (click)="onContinue(2)"
      [ngClass]="{ active: step === 2 }"
    >
      <span>2</span>
      <p>Information</p>
    </div>
  </nav>
</header>

<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  @if (step === 1) {
  <section formGroupName="credentials">
    <!-- company name -->
    <app-input-field 
        [label]="'Company name'"
        [svgIcon]="'user'"
        [type]="'text'"
        [placeholder]="'Enter company name'"
        formControlName="name"
        [hasError]=" 
            getFormControl('credentials.name')?.touched && 
            (getFormControl('credentials.name')?.errors?.['required'] || 
            getFormControl('credentials.name')?.errors)
          "
    />

    <!-- error handling -->
    @if ( getFormControl('credentials.name')?.touched &&
    getFormControl('credentials.name')?.errors?.['required'] ) {
        <app-form-error-message 
            [message]="'This field is required'"
        />
    }

    <!-- company email -->
    <app-input-field 
        [label]="'Email'"
        [svgIcon]="'email'"
        [type]="'email'"
        [placeholder]="'Enter your email address'"
        formControlName="email"
        [hasError]="
            getFormControl('credentials.email')?.touched && 
            (getFormControl('credentials.email')?.errors?.['required'] || 
            getFormControl('credentials.email')?.errors)
        "
    />
    <!-- error handling -->
    @if (getFormControl('credentials.email')?.touched) { @if
        (getFormControl('credentials.email')?.errors?.['required']) {
            <app-form-error-message 
            [message]="'This field is required'"
        />
        <!-- <p class="error-message">This field is required</p> -->
        } @if (getFormControl('credentials.email')?.dirty &&
        getFormControl('credentials.email')?.errors?.['email']) {
            <app-form-error-message 
            [message]="'Email is invalid'"
        />
        <!-- <p class="error-message">Email is invalid</p> -->
        } }
    
    <!-- <div class="company-name fields">
      <label for="">Company name</label>
      <div class="input-container">
        <img src="assets/svgs/user.svg" alt="user svg icon" />
        <input
          type="text"
          placeholder="Enter company name"
          formControlName="name"
          [ngClass]="{
            'has-error': getFormControl('credentials.name')?.touched && 
                         (getFormControl('credentials.name')?.errors?.['required'] || 
                          getFormControl('credentials.name')?.errors)
          }"
        />
      </div>
      <!-- error handling --
      @if ( getFormControl('credentials.name')?.touched &&
      getFormControl('credentials.name')?.errors?.['required'] ) {
      <p class="error-message">This field is required</p>
      }
    </div> -->




    
    <!-- <div class="email fields">
      <label for="">Email</label>
      <div class="input-container">
        <img src="assets/svgs/email.svg" alt="user svg icon" />
        <input
          type="email"
          placeholder="Enter your email address"
          formControlName="email"
        />
      </div>
      <!-- error handling --
      @if (getFormControl('credentials.email')?.touched) { @if
      (getFormControl('credentials.email')?.errors?.['required']) {
      <p class="error-message">This field is required</p>
      } @if (getFormControl('credentials.email')?.dirty &&
      getFormControl('credentials.email')?.errors?.['email']) {
      <p class="error-message">Email is invalid</p>
      } }
    </div> -->

    <!-- password -->
    <app-input-field 
        [svgIcon]="'lock'"
        [label]="'Password'"
        [type]="'password'"
        [placeholder]="'Enter your password'"
        formControlName="password"
        [hasError]="
            getFormControl('credentials.password')?.touched && 
            (getFormControl('credentials.password')?.errors?.['required'] || 
            getFormControl('credentials.password')?.errors)
        "
    />
    <!-- error handling -->
    @if (getFormControl('credentials.password')?.touched) { @if
    (getFormControl('credentials.password')?.errors?.['required']) {
        <app-form-error-message 
        [message]="'This field is required'"
    />
    <!-- <p class="error-message">This field is required</p> -->
    }@else {
    @if(getFormControl('credentials.password')?.errors?.['minlength']) {
        <app-form-error-message 
        [message]="'Password length should be at least 8 characters long'"
    />
    <!-- <p class="error-message">
        Password length should be at least 8 characters long
    </p> -->
    } @if(getFormControl('credentials.password')?.errors?.['weakPassword']) {
        <app-form-error-message 
        [message]="'Password should contain numbers, symbol, upper or lower case letter'"
    />
    <!-- <p class="error-message">
        Password should contain numbers, symbol, upper or lower case letter
    </p> -->
    } } }

    <!-- <div class="password fields">
      <label for="">Password</label>
      <div class="input-container">
        <img src="../../../../assets/svgs/lock.svg" alt="user svg icon" />
        <input
          type="password"
          placeholder="Enter your password"
          formControlName="password"
          #passwordInput
        />
        <img
          src="../../../../assets/svgs/hide-password.svg"
          alt="hidden password svg icon"
          class="password-icon"
          (click)="togglePasswordVisibility(passwordInput)"
        />
      </div>
      <!-- error handling --
      @if (getFormControl('credentials.password')?.touched) { @if
      (getFormControl('credentials.password')?.errors?.['required']) {
      <p class="error-message">This field is required</p>
      }@else {
      @if(getFormControl('credentials.password')?.errors?.['minlength']) {
      <p class="error-message">
        Password length should be at least 8 characters long
      </p>
      } @if(getFormControl('credentials.password')?.errors?.['weakPassword']) {
      <p class="error-message">
        Password should contain numbers, symbol, upper or lower case letter
      </p>
      } } }
    </div> -->

    <!-- confirm password -->
    <app-input-field 
        [svgIcon]="'lock'"
        [label]="'Confirm Password'"
        [type]="'password'"
        [placeholder]="'Enter your password'"
        formControlName="confirmPassword"
        [hasError]="
            getFormControl('credentials.confirmPassword')?.touched && 
            (getFormControl('credentials.confirmPassword')?.errors?.['required'] || 
            getFormControl('credentials.confirmPassword')?.errors)
        "
    />
    <!-- error handling -->
    @if(companyForm.errors?.['passwordMismatch'] &&
    (companyForm.get('credentials.confirmPassword')?.touched ||
    companyForm.get('credentials.confirmPassword')?.dirty)) {
        <app-form-error-message 
            [message]="'Confirm password is invalid'"
        />
    <!-- <p class="error-message">Confirm password is invalid</p> -->
    }
    
    
    <!-- <div class="confirm-password fields">
      <label for="confirm-password">Confirm Password</label>
      <div class="input-container">
        <img src="../../../../assets/svgs/lock.svg" alt="user svg icon" />
        <input
          type="password"
          placeholder="Enter your password"
          formControlName="confirmPassword"
          #confirmPasswordInput
        />
        <img
          src="../../../../assets/svgs/hide-password.svg"
          alt="hidden password svg icon"
          class="password-icon"
          (click)="togglePasswordVisibility(confirmPasswordInput)"
        />
      </div>

      @if(companyForm.errors?.['passwordMismatch'] &&
      (companyForm.get('credentials.confirmPassword')?.touched ||
      companyForm.get('credentials.confirmPassword')?.dirty)) {
      <p class="error-message">Confirm password is invalid</p>
      }
    </div> -->
  </section>
  <button type="button" (click)="onContinue()" class="continue">
    Continue
  </button>

  } @else if (step === 2) {
  <section class="information-section" formGroupName="information">
    <div class="website fields">
      <label for="">Company website</label>
      <div class="input-container">
        <img src="../../../../assets/svgs/globe.svg" alt="globe svg icon" />
        <input
          type="text"
          placeholder="Eg: apexmedia.com"
          formControlName="website"
        />
      </div>
      <!-- error handling -->
      @if (getFormControl('information.name')?.touched &&
      getFormControl('credentials.name')?.errors?.['required']) {
      <p class="error-message">This field is required</p>
      }
    </div>
    <div class="upload-certificate fields">
      <label for="">Upload certificate</label>
      <div class="input-container upload-container">
        <input type="file" accept=".pdf" (change)="onUpload($event)" />
        <img src="../../../../assets/svgs/upload.svg" alt="upload svg icon" />
        <span class="custom-placeholder">
          {{ placeholder }}
        </span>
        <span class="choose-file"> Choose file </span>
      </div>
    </div>

    <app-file-upload-input-field
      [label]="'Logo'"
      [acceptType]="'image/png'"
      [svgIconPath]="'../../../../assets/svgs/image-upload.svg'"
      [defaultPlaceholder]="'Image must be a PNG'"
      (fileSelected)="onPngUpload($event)"
    />

    <!-- <div class="company-logo fields">
                    <label for="">Logo</label>
                    <div class="input-container upload-container">
                        <input type="file" accept="image/png" placeholder="Image must be a PNG" formControlName="logo">
                        <img src="../../../../assets/svgs/image-upload.svg" alt="upload svg icon">
                        <span class="custom-placeholder">
                            Image must be a PNG
                        </span>
                        <span class="choose-file">
                            Choose file
                        </span>
                    </div>
                </div> -->
    <!-- <div class="contact fields">
                    <label for="">Contact</label>
                    <div class="input-container">
                        <!-- <i class="pi pi-globe"></i> --
                        <input type="text" placeholder="Enter your telephone number" formControlName="contact">
                    </div>
                </div> -->

    <!-- international tel number -->
    <ngx-material-intl-tel-input
      [fieldControl]="contactControl"
      [iconMakeCall]="false"
      [enablePlaceholder]="true"
      [autoSelectedCountry]="selectedCountry"
      placeholder="Enter your telephone number"
      [required]="true"
      [autoIpLookup]="false"
    ></ngx-material-intl-tel-input>
  </section>
  <button type="submit">Submit for approval</button>
  } @else {
  <p>Didn't receive link? Check your spam folder or <a>resend link.</a></p>
  }
</form>

<section class="log-in">
  <!-- will have to navigate to the login page -->
  <p>Already have an account? <a [routerLink]="['']">Log in</a></p>
</section>

<section class="info">
  <p>
    By continuing, you agree to SkillSpace
    <a class="terms_policy">Terms of Service</a> and
    <a class="terms_policy">Privacy Policy</a>
  </p>
</section>

}
