<!-- upload -->
<div class="card upload">
  <label for="username">{{ label }}</label>
  <p class="description">{{ description }}</p>

  <!-- upload preview -->
  @if (fileUploaded) {
    <section class="uploaded-file-container">
      <div class="uploaded-file">
        @if (accept === '.pdf') {
          <img src="assets/svgs/pdf-image.svg" alt="uploaded logo svg icon" />
        } @else {
          <div class="preview">
            <img [src]="previewImage" alt="uploaded logo" />
          </div>
        }
        <button class="uploaded-file-remove-btn" type="button" (click)="remove()">
          <img src="assets/svgs/cross.svg" alt="close button svg icon" />
        </button>
      </div>
      <small class="uploaded-file-name"> {{ filename | ellipsis }} </small>
    </section>
  }

  <!-- drag n drop zone -->
  <section
    class="upload-section"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <input type="file" [accept]="accept" (change)="selectFile($event)" #DragNDropZone />
    <div class="instructions">
      <img src="assets/svgs/drop-here-image.svg" alt="" />
      <p class="drop-here">{{ accept === '.pdf' ? 'Drop pdf here' : 'Drop image here' }}</p>
      <p class="support-files">{{ accept === '.pdf' ? 'Supports PDF' : 'Supports: PNG, JPG, JPEG, PDF (10mb max)' }}</p>
    </div>
  </section>
</div>
