<div class="main-container">
  <div class="header">
    <p class="header-title">Manage career programmes</p>
    <p class="header-subtitle">Easily manage companies and engage with them.</p>
  </div>

  <!-- search N filter -->
  <section>
    <app-search-input 
      (search)="onSearch($event)"
    />

    <!-- status filter -->
    <p-dropdown 
    [options]="handleStatus()" 
    [(ngModel)]="selectedStatus" 
    (ngModelChange)="chooseStatus($event)" 
    optionLabel="name" 
    placeholder="Status" 
    #InputValue
    />

    <!-- application date filter -->
  </section>

  <section>
    <div class="card">
      <p-table
        [value]="applicants"
        styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Application date</th>
            <th style="width: 5rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-applicant>
          <tr>
            <td>
              @if(!applicant.image) {
              <p-avatar label="P" shape="circle" />
              }@else {
              <img
                [alt]="applicant.name"
                [src]="applicant.image"
                width="32"
                style="vertical-align: middle"
              />

              }
              <span class="ml-1 vertical-align-middle">
                {{ applicant.name }}
              </span>
            </td>
            <td>{{ applicant.email }}</td>
            <td>
              <app-tag 
                [status]="applicant.approvalStatus"
                [severity]="getSeverity(applicant.approvalStatus.toLowerCase())"
              />
              <!-- {{ applicant.status }} -->
            </td>
            <td>{{ applicant.date }}</td>
            <td>
              <div class="card flex justify-content-center">
                <p-button
                  (onClick)="op.toggle($event)"
                  icon="pi pi-ellipsis-v"
                />
                <p-overlayPanel #op>
                  <div class="flex flex-column gap-3 w-25rem">
                    <div class="company-name">
                      <!-- initials -->
                      <p-avatar label="JA" shape="circle" />
                      <!-- name & email -->
                      <div class="name_email">
                        <p class="name">{{ applicant.name }}</p>
                        <p class="email">{{ applicant.email }}</p>
                      </div>
                    </div>
                    <button (click)="selectedApplicant(applicant.id)">View profile</button>
                  </div>
                </p-overlayPanel>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</div>
