@use "variables" as var;

.container {
  // pro reminder wrapp
  .pro-reminder {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: var.$color-yellow-100;

    .reminder-tes {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    button {
      margin-inline-start: auto;
      background-color: transparent;
      border: none;
    }
  }

  .educationFromWrap {
    min-height: 20rem;

    form {
      width: fit-content;
      margin: auto;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      // form label and description texts
      label {
        font-weight: bold;
      }
      .description-txt {
        font-size: var.$xsmall;
      }

      input {
        font-size: var.$small;
      }
      // name and address wrap
      .nameAddress-wrap {
        display: flex;
        gap: 1rem;

        .wrap {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }

      // country
      .country-wrap {
        .country-item {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}

// prime ng styling
::ng-deep .p-dropdown-trigger-icon {
  display: none;
}
