@use 'variables' as var;
@use 'mixins' as mix;

.container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  // pro reminder wrapp
  padding-block-end: 1rem;

  .form-containers{
    width: 50%;
    overflow-y: auto;
    border: 1px solid red;
  }  
  .pro-reminder {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: var.$color-yellow-100;

    .reminder-tes {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    button {
      margin-inline-start: auto;
      background-color: transparent;
      border: none;
    }
  }

  .form-wrap {
    min-height: 20rem;

    header {
      width: 50%;
      margin: auto;
      padding: 0.5rem;
    }

    form {
      // width: fit-content;\
      width: 50%;
      margin: auto;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      // form label and description texts
      label {
        font-weight: bold;
      }
      textarea {
        resize: none;
      }
      .description-txt {
        font-size: var.$xsmall;
      }

      input {
        font-size: var.$small;
      }
      // name and address wrap
      .inline-wrap {
        display: flex;
        gap: 1rem;

        .name-wrap,
        .address-wrap {
          width: 50%;
          .p-input-icon-left {
            width: 100%;
          }
        }

        // dates wrap
        .dates-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          padding-inline-start: 1rem;
        }
      }

      // country
      .country-wrap {
        .country-item {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      // intro
      .introduction-wrap {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .inner {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
        }
      }

      // portfolio & project link wrap
      .projeclink-wrap {
        display: flex;
        gap: 0.5rem;
        position: relative;

        .btns-wrap {
          width: 7rem;
          height: 100%;
          display: flex;
          align-items: center;
          gap: 0.2rem;
          position: absolute;
          right: -20%;

          button {
            border: none;
            background-color: transparent;
          }
        }
      }

      .sociallinks {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .links-wrap {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .link-name-icon {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
        }
      }
    }

    .drop-select {
      border: 1px solid var.$color-blue-gray-300;
      border-radius: 0.4rem;
      display: flex;
      align-items: center;
      padding-inline-start: 0.8rem;
    }
  }

  // save changes button
  .save-changes-btn {
    @include mix.primary-button(fit-content);
    height: fit-content;
    position: absolute;
    top: 0.65rem;
    right: 1rem;
    padding: 0.5rem 0.75rem;
}
}

// prime ng styling
::ng-deep {
  .p-inputtext {
    width: 100%;
  }
  p-dropdown {
    width: 100%;
    border: none;
  }
  .p-dropdown {
    border: none;
  }

  .p-calendar {
    border: none;
    & .p-focus {
      border: none;
    }
  }
  .p-tabview {
    @include mix.flex(column, 0);
    height: 100%;
  }
  .p-tabview-panels {
    overflow: auto;
    scrollbar-width: none;
  }

  p-iconfield {
    width: 100%;
  }
}
