<app-page-header-description
  [title]="'Manage profile'"
  [description]="'Easily manage your profile to stay up to date'"
/>

<section class="container">
  <p-tabView>
    <!-- closable text -->
    <section class="pro-reminder">
      <div class="reminder-tes">
        <!-- svg -->
        <img src="assets/svgs/proicon.svg" alt="icon" />
        <!-- text -->
        <p>Upgrade to use our <strong>Resume builder</strong></p>
      </div>
      <!-- would be using prime icons for this -->
      <button class="close-btn">
        <img src="assets/svgs/close.svg" alt="cancel" />
      </button>
    </section>

    <!-- company details -->
    <p-tabPanel class="content-container" header="Personal details">
      <!-- content goes here -->
      <form>
        <!-- talent name -->
        <div class="card flex flex-wrap justify-content-center gap-3">
          <label for="username">Display Name</label>
          <p class="description">{{ description }}</p>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-user" />
            <input type="text" pInputText placeholder="Enter company name " />
          </p-iconField>
        </div>

        <!-- email -->
        <div class="card flex flex-wrap justify-content-center gap-3">
          <label for="username">Email</label>
          <p class="description">{{ description }}</p>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-envelope" />
            <input
              class="email"
              type="text"
              [disabled]="true"
              pInputText
              placeholder="amalitech.ghana@gmail.com"
            />
          </p-iconField>
        </div>

        <!-- upload --
        <div class="card upload">
          <label for="username">Upload Logo</label>
          <p class="description">{{ description }}</p>
          <!-- would change false to property value when integration functionality --
          @if (fileUploaded) {
              <div class="uploaded-file">
                <img src="assets/svgs/pdf-image.svg" alt="uploaded logo svg icon">
                <button>
                    <img src="assets/svgs/cross.svg" alt="close button svg icon">
                </button>
              </div>
          }
          <div class="upload-section"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)"
          >
              <input type="file" accept="image/png" (change)="selectFile($event)" name="" id="">
              @if (!fileUploaded) {
                <div class="instructions">
                  <img src="assets/svgs/drop-here-image.svg" alt="">
                  <p class="drop-here">Drop image here</p>
                  <p class="support-files">Supports: PNG, JPG, JPEG, PDF (10mb max)</p>
                </div>
              }@else {
                <div class="preview">
                  <!-- <img [src]="fileUploaded[0].name" alt=""> --
                  <img [src]="previewImage" alt="">
                </div>

              }
          </div>
        </div> -->

        <!-- email -->
        <div class="card flex flex-wrap justify-content-center gap-3">
          <label for="username">Portfolio links</label>
          <p class="description">{{ description }}</p>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-envelope" />
            <input
              class="email"
              type="text"
              [disabled]="true"
              pInputText
              placeholder="amalitech.ghana@gmail.com"
            />
          </p-iconField>
        </div>

        <!-- Social media Links -->
        <div class="card flex flex-wrap justify-content-center gap-3">
          <label for="username">Social media Links</label>
          <p class="description">{{ description }}</p>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-link" />
            <input type="text" pInputText placeholder="www.Seanlifer.com" />
          </p-iconField>
        </div>
      </form>
    </p-tabPanel>

    <!-- documents -->
    <p-tabPanel header="Education">
      <!-- content goes here -->
      <div class="educationFromWrap">
        <!-- education form -->

        <form [formGroup]="educationForm">
          <!-- name and adress wrap -->
          <div class="nameAddress-wrap">
            <!-- name wrap -->
            <div class="name-wrap">
              <label for="name">Name</label>
              <p>This is what employers will see on your <br />profile</p>
              <div class="p-input-icon-left">
                <i class="pi pi-building"></i>
                <input
                  id="name"
                  type="text"
                  pInputText
                  formControlName="name"
                  placeholder="Enter school's name"
                />
              </div>
            </div>

            <!-- address wrap -->
            <div class="address-wrap">
              <label for="address">Address</label>
              <p>This is what employers will see on your <br />profile</p>
              <div class="p-input-icon-left">
                <i class="pi pi-map-marker"></i>
                <input
                  type="text"
                  pInputText
                  formControlName="address"
                  placeholder="Enter address of school"
                />
              </div>
            </div>
          </div>

          <!-- country -->
          <div class="country-wrap">
            <label for="country">Country</label>
            <p>{{ educationDescription }}</p>
            <!-- testing -->
            
          </div>
          <!--  -->
        </form>
      </div>
    </p-tabPanel>

    <!-- security -->
    <p-tabPanel header="Security">
      <!-- content goes here -->
      <p>Bye</p>
    </p-tabPanel>
  </p-tabView>
</section>
